.form-body{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(245, 174, 142);
}

.oneInput{
    margin-left: 10%;
    margin-top: 15px;
}

.takeInp{
    height: 30px;
    width: 60%;
}

.submitB{
    padding-top:10px;
    padding-left:25%;
}

.submitButton{
    width: 20%;
    padding:3px;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(58, 142, 216);
    color: white;
}

.submitButton:hover{
    cursor: pointer;
    background-color:rgb(16, 115, 203); ;
}